body{
    background-color: #0B0C0D
}

.header-grid{
    display: grid;
    grid-template-columns: 200px;
      justify-content: center;
        border-bottom: 1px solid #2b2b2b;
        padding-bottom: 5px;
}

.author{
    font-size: 15px;
    color: white;
    margin-top: 25px;
}






.container-grid{
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

.cards-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 215px);
    gap: 40px;
    justify-content: center;
    padding: 10px;

    max-width: calc((215px * 5) + (40px * 4));
    margin: 0 auto;
}

.add-card-grid{
    position: relative; 
    padding: 20px;
    padding-top: 8px; 

    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;

    height: 300px;
    max-height: 400px;
    width: 205px;
    border: solid 1px #2b2b2b;
    border-radius: 10px;
}
 
.total-value{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height:  300px;
    width: 205px;
    color: #e9e9e9;
    font-family: Lato,Lato Fallback;
    font-size: 13px;
    
    border-radius: 10px;
    border: 1px solid #2b2b2b;
    background-color: #171717;
}






.card{
    position: relative;
    background-color: #16181A;
    border-radius: 12px;
    overflow: hidden;
    padding: 10px;
    width: 215px;
}

.card-image{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.card-name{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.card-price{
    color: #bdbdbd;
    margin-top: 5px;
}
.card-added-date{
    color: #bdbdbd;
    margin-top: 5px;
    
}
.card-qty{
    color: #bdbdbd;
    margin-top: 5px;
    font-size: 13px;
    
}

.totalSpent, .cardCount, .slabCount, .sealedProd{
    border-bottom: 1px solid #2b2b2b;
    padding-bottom: 5px;
}

.breakDown p{
font-size: 20px;
margin: 0;
font-weight: 900;
}

.dot::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #00b1a5;
  border-radius: 50%;
  margin-right: 8px;
}

.br-flex{
    display: flex;
    justify-content: space-between;
}

.pokelogo {
    position: absolute; 
    top: -31px;          
    left: 50%;
    transform: translateX(-50%);

    width: 60px;
    height: 60px;

    
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokelogo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

@font-face {
    font-family: 'Pokemon';
    src: url('../fonts/PKMN RBYGSC.ttf') format('truetype');
}

.selection {
    font-family: 'Pokemon', sans-serif;
    color: #cfcfcf;
    font-size: 10px;
    display: flex;
    justify-content: center;
}

.selection-item {
    margin: 0 2px;
    border: 1px solid #d4d0d0;
    padding: 2px;
    cursor: pointer;
}

.selection-item:hover{
    color: #ffffff; 
    border-color: #ffffff; 
}


.psa-comp img, .tag-comp img, .cgc-comp img, .beckkett-comp img {
  width: 50px;
  height: 20px;
  margin: 0 2px;
  cursor: pointer;
  border: 2px solid transparent;
}

.psa-comp img:hover, .tag-comp img:hover, .cgc-comp img:hover, .beckkett-comp img:hover {
  border: 2px solid #9e3131;
}



#addCardBtn {
    font-family: 'Pokemon', sans-serif;
    background-color: #00b1a5;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.delete-btn{
    position: absolute;
    top: 1px;
    right: 1px;

    background: rgba(226, 29, 29, 0.5);
    color: white;

    border: none;
    border-radius: 50%;

    width: 20px;
    height: 20px;

    cursor: pointer;

    z-index: 10;
}
.delete-btn:hover{
    background: rgba(0,0,0,0.8);
    transform: scale(1.2);
}

.poke-popup{
    background: #16181A !important;
    border: 1px solid #2b2b2b !important;
    border-radius: 16px !important;
    color: white !important;

    box-shadow:
        0 10px 40px rgba(0,0,0,0.45) !important;
}

/* TITLE */
.poke-title{
    color: white !important;
    font-size: 24px !important;
}

/* TEXT */
.poke-text{
    color: #bdbdbd !important;
    font-size: 15px !important;
}

/* BUTTONS */
.poke-confirm{
    background: #ff3b30 !important;
    border-radius: 999px !important;
    padding: 10px 18px !important;

    box-shadow: none !important;
}

.poke-cancel{
    background: #232527 !important;
    border: 1px solid #2b2b2b !important;

    color: white !important;

    border-radius: 999px !important;
    padding: 10px 18px !important;

    box-shadow: none !important;
}

/* REMOVE BLUE OUTLINE */
.swal2-styled:focus{
    box-shadow: none !important;
}